.design-section
    .container
        .design-section_row
            .design-section_text
                p.design-section_subtitle More value from this
                h2.design-section_title Furniture
            .design-section_img
                img(src="./assets/imgs/th-sect.img.jpg", alt="").design-img
                img(src="./assets/imgs/points2.3.png", alt="").img-points3
                .design-section_box
                    .box-1
                        .box_img
                            img(src="./assets/imgs/1.svg", alt="1")
                        .box_text
                            h6.box-title Full services
                            p.box-description Provide the best service and very fast response.
                    .box-2
                        .box_img
                            img(src="./assets/imgs/2.svg", alt="2")
                        .box_text
                            h6.box-title Long warranty.
                            p.box-description With a 5-year warranty provided, providing satisfying service.
                    .box-3
                        .box_img                    
                            img(src="./assets/imgs/3.svg", alt="3")
                        .box_text
                            h6.box-title Modern design
                            p.box-description The room looks beautiful with a blend of contemporary and attractive design.



