.first-section
    .container
        .first-section_row        
            .first-section_content
                img(src="./assets/imgs/coral.png", alt="").square            
                .first-section_text
                    p.subtitle DECORATE HOME
                    h1.title Feel your home                    
                        br 
                        |with a modern design space
                                           
                    .first-section_button
                        a.Discover(href="#") Discover
                        a.Vid(href="#")
                            img.btn(src="./assets/imgs/btn-watch.svg", alt="btn")
                            
                
            .first-section_img
                img(src="./assets/imgs/first-sec.elem1.png", alt="").img-ripples
                img(src="./assets/imgs/points1.png", alt="").img-sec
                img(src="./assets/imgs/first-sect.img.jpg", alt="").img-main