.footer
    .container
        .footer-row
            hr
            .footer-nav_block
                .footer-nav
                    h4.footer-nav_title Get’s your discount
                    ul.footer-nav_list
                        li
                            a.footer-nav_text1(href="#") Check now !
                .footer-nav
                    h4.footer-nav_title Our services
                    ul.footer-nav_list
                        li
                            a.footer-nav_text(href="#") Collection
                        li
                            a.footer-nav_text(href="#") How its work
                        li
                            a.footer-nav_text(href="#") Estimats
                                
                .footer-nav
                    h4.footer-nav_title Company
                    ul.footer-nav_list
                        li
                            a.footer-nav_text(href="#") Terms of use
                        li
                            a.footer-nav_text(href="#") Privacy policy
                        li
                            a.footer-nav_text(href="#") Careers
                .footer-nav
                    h4.footer-nav_title Contact
                    ul.footer-nav_list
                        li
                            a.footer-nav_text(href="#") Furniutr2@furniture.com
                        li
                            a.footer-nav_text(href="#") (888) 315-500
                        li
                            a.footer-nav_text(href="#") St. VIllage, New York