header.header 
    div.container        
            div.row
                a(href="index.html")
                   img(src="./assets/imgs/logo.png", alt="logo").logo_img
                nav
                    ul.nav-list
                        li.nav-item 
                            a(href="#").nav-link Home 
                        li.nav-item 
                            a(href="#").nav-link About
                        li.nav-item 
                            a(href="#").nav-link Collection 
                        li.nav-item 
                            a(href="#").nav-link Shop
                .icon_box                   
                    a(href="#").row-icon
                        img(src="./assets/imgs/basket.svg", alt="basket").icon
                    a(href="#").row-icon
                        img(src="./assets/imgs/Search.svg", alt="Search").icon 
            