.last-section
    .container
        .last-section_row        
            .last-section_text                
                p.subtitle Let’s
                h3.title Try Now               
                a.Explore(href="#") Explore
                 
            .last-section_img
                img(src="./assets/imgs/last-sect.img.jpg", alt="").img-main
                img(src="./assets/imgs/points4.png", alt="").img-sec                
                img(src="./assets/imgs/refl.png", alt="").img-refl