.second-section
    .container
        .second-section_row
            .second-section_img
                img(src="./assets/imgs/small.black.png", alt="").img-smbl
                img(src="./assets/imgs/big.black.png", alt="").img-bbl
                img(src="./assets/imgs/points2.3.png", alt="").img-points2
                img(src="./assets/imgs/sec-sect.img.jpg", alt="").img-section2
            .second-section_text
                p.second-section_subtitle About
                h2.second-section_title Furniture
                p.second-section_description People have been using natural objects, such as tree stumps, rocks and moss, as furniture since the beginning of human civilisation.
                a.second-section_button(href="#") Read more 

    
