// переменные 
//GRID
//точки адаптива
$lg: 1428px;
$md: 1024px;
$sm: 768px;
$xs: 500px;


//Цвета макета
$c-primary: #E5E5E5;//основной цвет макета
$c-secondary: #F7515C;//дополнительный цвет макета
$c-text: #282A30;//основной цвет текста макета
$c-text2: #F7515C;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Montserrat', sans-serif; //основной
$headers-font: 'Montserrat', sans-serif; //для заголовков
$secondary-font: 'Nunito Sans', sans-serif; //дополнительный
